// Basic colors
$white: hsl(207, 62%, 99%);
$black: hsl(207, 28%, 10%);

// Accent colors
$primary-color: hsl(207, 62%, 32%);

$padding-universal: 0.5rem;

$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 1.5rem;
$space-4: 2rem;
$space-5: 2.5rem;
$space-6: 3rem;
$space-7: 3.5rem;
