// Basic colors
$white: hsl(207, 62%, 99%);
$black: hsl(207, 28%, 10%);

// Accent colors
$primary-color: hsl(207, 62%, 32%);
$primary-color-dark: hsl(207, 70%, 20%);
$primary-color-light: hsl(207, 25%, 70%);
$primary-color-lightest: hsl(207, 25%, 96%);

$padding-universal: 0.5rem;

$space-1: 0.5rem;
$space-2: 0.75rem;
$space-3: 1rem;
$space-4: 1.5rem;
$space-5: 2rem;
$space-6: 2.5rem;
$space-7: 3rem;
